.calendario-semanal {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.horarios {
  margin-right: 20px; /* Espacio entre la columna de horas y los días */
}

.dias {
  display: flex; /* Cambia a flex para mostrar días en una fila */
  flex-direction: row; /* Asegura que los días se alineen en fila */
}

.dia {
  margin-right: 20px; /* Espacio entre los días */
}

.bloque-horario {
  background-color: #f0f0f0; /* Color de fondo de las horas */
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Espacio entre bloques horarios */
}

.cupos {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Espacio entre los bloques de cupos */
  transition: background-color 0.2s;
}

.con-cupos {
  background-color: #d4edda; /* Verde claro */
  color: #155724;
}

.sin-cupos {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal button {
  padding: 10px 20px;
  margin: 10px 5px; /* Separación entre botones */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal button.aceptar {
  background-color: #4caf50; /* Verde */
  color: white;
}

.modal button.cancelar {
  background-color: #d3d3d3; /* Gris */
  color: #333;
}

.modal button:hover {
  opacity: 0.9;
}

.boton-navegacion {
  padding: 10px 20px;
  margin: 0 10px; /* Espacio entre los botones */
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.boton-navegacion:disabled {
  background-color: #a5d6a7; /* Verde claro para indicar estado deshabilitado */
  cursor: not-allowed;
}

.boton-navegacion:hover:enabled {
  opacity: 0.9; /* Efecto hover solo cuando el botón está habilitado */
}
