/* Card.css */
.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card:hover {
    background: #C5D3E8;
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card p {
    color: #666;
    margin: 0;
  }
  